[DEFAULT]
#debug = True
#verbose = True
#lock_path = /var/lib/rack/lock
#state_path = /var/lib/rack
#sql_connection = mysql://root:password@127.0.0.1/rack?charset=utf8
#api_paste_config = /etc/rack/api-paste.ini
#auth_strategy = noauth
#os_username = admin
#os_password = password
#os_tenant_name = demo
#os_auth_url = http://localhost:5000/v2.0
#os_region_name = RegionOne
#ipc_port = 8888
#shm_port = 6379